body{
    background-color: rgb(19, 20, 20);
    color: whitesmoke;
}
.navv{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
}
.navigation{
    list-style: none;
    box-shadow: 12,19,black;
    display: flex;
}
.navv div{
    margin: auto;
    width: 90%;
}
.navv img{
    float: left;
    padding: 10px;
    margin-right: 5px;
}
.navigation li{
    padding:10px;
    margin-left: 15px;
}
.navigation li a{
    text-decoration: none;
    color: whitesmoke;
}
.nav-bar{
    width: 50px;
    float:right;
}
